*,html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



#header h1 {
	margin: 15px 50px;
	font-family: cursive, monospace, serif;
	font-weight: 200;
	cursor: pointer;
}

#navbar ul{
	background-color: transparent;
  	list-style-type: none;
 	display: block;
  	overflow: hidden;
}


ul li {
	display: inline-block;
	padding: 10px 40px;	
}

ul li a {
	text-decoration: none;
	color: #000;
	font-family: cursive, monospace, serif;
}

#linkHover:hover {
	background-color: rgba(102, 255, 255, 0.5);
	padding: 10px;
	border-radius: 30%;
	transition: all 0.5s;
}

#mainhead {
	margin: 20px;
	font-family: sans-serif;
}

#pubgImg {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-radius: 10%;
	-webkit-box-shadow: 3px 3px 13px 0px rgba(32, 50, 50, 0.37);
	-moz-box-shadow:    3px 3px 13px 0px rgba(32, 50, 50, 0.37);
	box-shadow:         3px 3px 13px 0px rgba(32, 50, 50, 0.37)

}

.source {
	text-align: center;
	margin: 5px;
	font-size: 10px;
}

#articlemain {
	padding: 60px;
}
#articlemain #about {
	font-size: 1.2rem;
	font-family: cursive;
}

#secondP {
	margin: 30px;
	font-size: 1.2rem;
	font-family: cursive;
}

#footer {
	text-align: right;
	margin: 10px;
}


body  {
	background-color: azure;
  	font-family: cursive;
}
header {
  	display: flex;
 	justify-content: space-between;
  	align-items: center;
  	width: 100%;
  	white-space: nowrap;
  	background-color: #ffff99;	
  	padding: 5px;
	border-bottom: 5px groove rgba(102, 255, 255, 0.5);
}
h1 {
  	display: inline-block;
  	font-size: 30px;
  	text-decoration: none;
}
nav {
  	display: inline-block;
}
ul {
  	color: darkslategray;
}

li {
  	display: inline;
  	font-size: 20px;
  	margin-left: 10px;
  	margin-right: 10px;
}