* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

#head {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	background-color: rgb(84, 194, 157);
	padding: 2rem 1rem;
	color: #fff;
	font-family: poppins;
}

#head a {
	color: #fff;
	text-decoration: none;
}

#navbar {
	padding-top: 1rem;
}

#navbar a {
	text-decoration: none;
	padding: 0.5rem 1rem;

	color: #fff;
	border-radius: 5px;
	margin: 0rem 1rem;
}

#navbar a:hover {
	background-color: lime;
	border-radius: 10px;
	transition: all 1s;
}

#coverpic #mainhead {
	padding: 2rem;
	font-family: poppins;
}

#img-div {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

#pubgImg {
	max-width: 100%;
	border-radius: 10px;
}

.source {
	text-align: center;
	font-size: 0.5rem;
	font-family: sans-serif;
	padding-bottom: 2rem;
}

#article-main {
	background-color: oldlace;
	padding: 1rem;
	font-family: sans-serif;
	letter-spacing: -0.02rem;
}

#article-main #about {
	margin: 1rem;
	padding: 1rem;
}

#article-main #secondP {
	margin: 1rem;
	padding: 1rem;
}

footer p {
	text-align: center;
	padding: 1rem;
}

footer>button {
	float: right;
	padding: 0.5rem;
	background-color: orange;
	font-family: lobster;
	color: #fff;
	border: transparent;
	margin: 1rem;
	cursor: pointer;
	border-radius: 5px;
}

button a {
	text-decoration: none;
	color: #fff;

}

button:hover {
	background-color: lime;
	transition: all 1s;
}

/*mobile nav starts*/
.menu-btn {
	display: none;
	margin-top: 0.5rem;
	
}

.menu-btn button {
	border: none;
	background-color: rgb(84, 194, 157);
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
}

.mobile-nav {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgb(84, 194, 157);
	padding: 24px;
	display: none;
	transform: translateX(-100%);
	transition: transform 300ms ease-in-out;
}

.mobile-nav-open {
	transform: translateX(0);
	scroll-behavior: none;
}

.close-button button {
	border: none;
	background-color: #ffffff;
	font-size: 2rem;
	cursor: pointer;
}

.mobile-nav-link {
	font-size: 2rem;
	font-family: poppins;
	margin-top: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	color: #fff;
	display: block;
	margin-bottom: 24px;
}

.mobile-nav-link:hover {
	color: yellow;
}

.mobile-nav-link-active {
	color: yellow;
}

@media only screen and (max-width: 585px) {
	#navbar {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	.menu-btn {
		display: block;
	}

	.close-btn {
		float: right;
	}
}